.container, .row {
  padding-bottom: 30px;
}

.page-header {
  padding-bottom: 9.5px;
  margin: -16px 0 21px;
}

.artist-header-image {
  max-width: 200px;
  height: auto;
}

.thumbnail {
  padding: 1px;
}

/*
.thumbnail>img, .thumbnail a>img {
  height: 350px;
}
*/

.caption p {
  margin: 0;
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 992px) {
.artist-header-image {
    width: 200px;
  }
}