.container, .row {
  padding-bottom: 30px;
}

.page-header {
  padding-bottom: 9.5px;
  margin: -12px 0 21px;
}

.breadcrumb {
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.breadcrumb li {
    display: inline;
}

.list-group-item-text {
  color: #fff;
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {}