.container, .row {
  padding-bottom: 30px;
}

.page-header {
  padding-bottom: 9.5px;
  margin: -12px 0 21px;
}

.artist-header-image {
  max-width: 200px;
  height: auto;
  padding: 25px;
}

.thumbnail {
  padding: 1px;
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 992px) {
  .artist-header-image {
    width: 200px;
  }

  .thumbnail-albums {
    max-width: 340px;
    max-height: 340px;
    width: 350px;
    height: 340px;
  }
}
