.center-fix {
  position: fixed;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  padding-bottom: 15px;
}

.main-spinner {
  font-size: 5em;
  color: color(primary);
}

.loader {
  position: absolute;
  height: 60px;
  width: 60px;
  top: 50%;
  left: 50%;
  margin-left: -50px;
  margin-top: -50px;
  background-size: 100%;

  border: 5px solid #f3f3f3;
  border-radius: 50%;
  border-top: 5px solid color(primary);
  border-right: 5px solid color(success);
  border-bottom: 5px solid color(danger);
  width: 100px;
  height: 100px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}