/**
 * Bootstrap overrides
 */

.panel-title {
	font-weight: bold;
	color: color(primary);
}

html, html a {
  -webkit-font-smoothing: antialiased !important;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
}

html { overflow-y: scroll; }

body {
  /* padding-top: 70px; */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

h1 { font-size: 29px; }

.page-header {
  border-bottom: 1px solid #464545;
}

.lead {
  margin-top: 21px;
}

@import 'navbar-toggle';

/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
  h1 {
    font-size: 39px;
  }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {}